version: "3.8"

services:
  web:
    build: .
    container_name: saw-api-web
    ports:
      - "7080:80"
    volumes:
      - ./:/var/www/html/
    environment:
      DB_HOST: 172.20.0.6
      DB_USER: root
      DB_PASS: Ncm@647534
      DB_NAME: saw15
    networks:
      - atende
    restart: unless-stopped

networks:
  atende:
    external: true
